﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
table {
    text-align: center;
    margin: auto;
    border: thin solid black;
    border-collapse: collapse;
}
td, th{
    font-size: 1.5em;
    padding: 8px;
    margin: 8px;
    border: thin dotted grey;
    padding: 5px;
}
h1 {
    text-align: center;
    color: #ff9600;
    font-weight: 500
!important;
}
h1#right {
    text-align: right;
    font-size: 2.2em;
}
.table{
    display: table;
}
.tableRow{
    display: table-row;
}
seciton#news, article#index{
    display: table-cell;
    vertical-align: top;
}
article#index {
    text-align: left;
    padding: 10px 30px 100px 30px;
    margin: 10px 30px 10px 300px;
    line-height: 40px;
    font-size: 1.2em;
}
article#index div{
    text-indent: 2em;
}
section#news {
    margin: 0px 15px 15px 15px;
    height: 500px;
    width: 250px;
    float: left;
    text-align: left;
    border: medium dotted #686868;
}
section#news p{
    text-align: center;
}
p#news {
    line-height: 2.5em;
    color: #ff0000;
    font-size: 2.2em;
    font-style: oblique;
    font-weight: bold;
}
#map {
    overflow: auto;
    height: 700px;
}