@page
@model IndexModel
@{
    ViewData["Title"] = "众生猫猫相";
}
<div class="text-center">
    <div id="cats">
        <img src="images/cat1.png" alt="cat1"><br>
        <img src="images/cat2.png" alt="cat2"><br>
        <img src="images/cat3.png" alt="cat3"><br>
        <img src="images/cat4.png" alt="cat4"><br>
        <img src="images/cat5.png" alt="cat5"><br>
    </div>
</div>