﻿@page
@model IndexModel
@{
    ViewData["Title"] = "班级同学";
}

    <div class="text-center">
        <h1 class="display-4">班级同学</h1>
        <p>
            <table id="classmates">
                <tr>
                    <th>姓名</th>
                    <th>English Name</th>
                    <th>学号</th>
                    <th>性别</th>
                </tr>
                <tr>
                    <td>陈笑瞻</td>
                    <td>Smile</td>
                    <td>20220101</td>
                    <td>M</td>
                </tr>
                <tr>
                    <td>董子琛</td>
                    <td>Jacky</td>
                    <td>20220102</td>
                    <td>M</td>
                </tr>
                <tr>
                    <td>黄崇瑞</td>
                    <td>John</td>
                    <td>20220103</td>
                    <td>M</td>
                </tr>
                <tr>
                    <td>黄嘉泰</td>
                    <td>Teddy</td>
                    <td>20220104</td>
                    <td>M</td>
                </tr>
                <tr>
                    <td>黄翔伟</td>
                    <td>Andy Huang</td>
                    <td>20220105</td>
                    <td>M</td>
                </tr>
                <tr>
                    <td>金子明</td>
                    <td>Bryan</td>
                    <td>20220106</td>
                    <td>M</td>
                </tr>
                <tr>
                    <td>柯南</td>
                    <td>Conan</td>
                    <td>20220107</td>
                    <td>M</td>
                </tr>
                <tr>
                    <td>刘文邦</td>
                    <td>Michael</td>
                    <td>20220108</td>
                    <td>M</td>
                </tr>
                <tr>
                    <td>戚洋铭</td>
                    <td>Seven</td>
                    <td>20220109</td>
                    <td>M</td>
                </tr>
                <tr>
                    <td>祁迹</td>
                    <td>Jake</td>
                    <td>20220110</td>
                    <td>M</td>
                </tr>
                <tr>
                    <td>宋诚</td>
                    <td>Kevin Song</td>
                    <td>20220111</td>
                    <td>M</td>
                </tr>
                <tr>
                    <td>汤禹哲</td>
                    <td>Jerry</td>
                    <td>20220112</td>
                    <td>M</td>
                </tr>
                <tr>
                    <td>王乐宸</td>
                    <td>Leo</td>
                    <td>20220113</td>
                    <td>M</td>
                </tr>
                <tr>
                    <td>姚博严</td>
                    <td>Bob</td>
                    <td>20220114</td>
                    <td>M</td>
                </tr>
                <tr>
                    <td>殷睿鸿</td>
                    <td>Henry</td>
                    <td>20220115</td>
                    <td>M</td>
                </tr>
                <tr>
                    <td>张志逸</td>
                    <td>Edward</td>
                    <td>20220116</td>
                    <td>M</td>
                </tr>
                <tr>
                    <td>赵恒恺</td>
                    <td>Kai</td>
                    <td>20220117</td>
                    <td>M</td>
                </tr>
                <tr>
                    <td>周天佑</td>
                    <td>Andy Zhou</td>
                    <td>20220118</td>
                    <td>M</td>
                </tr>
                <tr>
                    <td>宗翌桐</td>
                    <td>Rice</td>
                    <td>20220119</td>
                    <td>M</td>
                </tr>
                <tr>
                    <td>蔡欣凌</td>
                    <td>Amy</td>
                    <td>20220120</td>
                    <td>F</td>
                </tr>
                <tr>
                    <td>陈奕文</td>
                    <td>Evon</td>
                    <td>20220121</td>
                    <td>F</td>
                </tr>
                <tr>
                    <td>方蔚文</td>
                    <td>Linda</td>
                    <td>20220122</td>
                    <td>F</td>
                </tr>
                <tr>
                    <td>郝羿涵</td>
                    <td>Elein</td>
                    <td>20220123</td>
                    <td>F</td>
                </tr>
                <tr>
                    <td>黄笑恬</td>
                    <td>Tina Huang</td>
                    <td>20220124</td>
                    <td>F</td>
                </tr>
                <tr>
                    <td>刘颐和</td>
                    <td>Alice</td>
                    <td>20220125</td>
                    <td>F</td>
                </tr>
                <tr>
                    <td>宓语桐</td>
                    <td>Christina</td>
                    <td>20220126</td>
                    <td>F</td>
                </tr>
                <tr>
                    <td>沈知微</td>
                    <td>Kathy</td>
                    <td>20220127</td>
                    <td>F</td>
                </tr>
                <tr>
                    <td>田卓凝</td>
                    <td>Tina Tian</td>
                    <td>20220128</td>
                    <td>F</td>
                </tr>
                <tr>
                    <td>夏昀燕</td>
                    <td>Susie</td>
                    <td>20220129</td>
                    <td>F</td>
                </tr>
                <tr>
                    <td>谢睿涵</td>
                    <td>Sherry</td>
                    <td>20220130</td>
                    <td>F</td>
                </tr>
                <tr>
                    <td>杨海容</td>
                    <td>April</td>
                    <td>20220131</td>
                    <td>F</td>
                </tr>
                <tr>
                    <td>杨一澄</td>
                    <td>Ivet</td>
                    <td>20220132</td>
                    <td>F</td>
                </tr>
                <tr>
                    <td>姚语涵</td>
                    <td>Ulanda</td>
                    <td>20220133</td>
                    <td>F</td>
                </tr>
                <tr>
                    <td>张扬清</td>
                    <td>Cindy</td>
                    <td>20220134</td>
                    <td>F</td>
                </tr>
                <tr>
                    <td>涂炜杰</td>
                    <td>Jimmy</td>
                    <td>20220135</td>
                    <td>M</td>
                </tr>
                <tr>
                    <td>李奕</td>
                    <td>Alberta</td>
                    <td>20220136</td>
                    <td>F</td>
                </tr>
                <tr>
                    <td>庄伦恺</td>
                    <td>Kevin Zhuang</td>
                    <td>20220137</td>
                    <td>M</td>
                </tr>

            </table>
        </p>
    </div>
