﻿@page
@model IndexModel
@{
    ViewData["Title"] = "2020，我们来了";
}

<div class="text-center">
    <h1 class="display-4">2020，我们来了！</h1>
    <h1 class="display-4" id="right">——兰生复旦中学202201班</h1>
    <div class="table">
        <div class="tableRow">
            <section id="news">
                <p id="news">重磅新闻</p>
                <ul id="news_content">
                    <li>为了预防新型冠状病毒的传播，请大家勤洗手，戴口罩，开学后给教室通风。</li>
                    <li>班级网站上线了！</li>
                </ul>
            </section>
            <article id="index">
                <div>
                    告别平凡的 2019 年，我们七（1）班全体师生迎来了全新的2020 年,
                    全体同学都以饱满的热情迎接新一年的到来。过去的 2019年
                    给了我们很多回忆，回忆大家在一起拼搏时的泪水、苦恼，
                    但更多的则是欢笑和收获、以及大家携手共同进步、一起成长的经历。
                    “我们都可以是时代英雄，都可以自己主宰自己的人生”，对于我们每一个人来说，
                    新年是一个新的开始，是我们忘掉过去的荣誉与失败，重新挺直腰杆，
                    大步向前迈的起点。新年第一天的阳光，带来新的希望，我们满怀理想，
                    向着新的目标进发。梦想，属于每位勇敢者、拼搏者、追梦者，
                    属于我们有新年愿望和追求的全体一班，我们只有付出行动，
                    迈出坚实的脚步，才能达到成功的彼岸，才能够实现自己新年的愿望。
                </div>
            </article>
        </div>
    </div>
</div>
