@page
@model IndexModel
@{
    ViewData["Title"] = "我们在哪";
}

<div class="text-center">
    <div id="map"></div>
    <script src="https://api.map.baidu.com/api?v=3.0&ak=y6GTq1U6Uv42Sp6TflbaYS69oghCrLLh"></script>
    <script src="~/js/our_loc.js"></script>
</div>
