@page
@model IndexModel
@{
    ViewData["Title"] = "我们的MV";
}
<div class="text-center">
    <h1 class="display-4">我们的MV</h1>
    <video height="80%" width="100%" controls autoplay>
        <source src="~/videos/ourMV2.webm" type='video/webm; codecs="vp8, vorbis"'>
        <source src="~/videos/ourMV.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
        <source src="~/videos/ourMV.ogv" type='video/ogg; codecs="theora, vorbis"'>
    </video>
</div>