@page
@model IndexModel
@{
    ViewData["Title"] = "我们的愿景";
}
<div class="text-center">
    <div id="wishes">
        <img src="~/images/wish1.png" width="650" height="300" alt="wish1"><br>
        <img src="~/images/wish2.png" width="650" height="250" alt="wish2"><br>
        <img src="~/images/wish3.png" width="650" height="270" alt="wish3"><br>
        <img src="~/images/wish4.png" width="650" height="300" alt="wish4"><br>
        <img src="~/images/wish5.png" width="650" height="220" alt="wish5"><br>
    </div>
</div>